@use "../utils/variables.scss" as variables;

// This files is responsible to contain the whole styling for this challenge
body {
  background-color: variables.$body-bg-color;

  display: flex;
}

.on {
  width: 7rem;

  transition: all 1s;
}

// Side Bar Styling
.side-bar {
  width: 25rem;
  height: 100vh;

  background-color: variables.$green;

  z-index: 99;

  transition: all 1s;

  // Logo and toogle area
  #logo-and-toogle-menu {
    margin-top: 2.4rem;

    margin: {
      left: 2.9rem;
      right: 1.4rem;
    }

    .logo-and-toogle-container {
      width: 100%;
      height: 5rem;

      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    #logo-img {
      width: 6.4rem;
      height: 2.5rem;
    }

    #menu-toogle-img {
      width: 2.4rem;
      height: 2.4rem;

      cursor: pointer;
    }
  }

  // Cards styling
  #cards {
    height: 37rem;

    margin: {
      top: 2.8rem;
      left: 1.4rem;
      right: 1.4rem;
    }

    .card {
      display: flex;
      align-items: center;

      width: 100%;
      height: 0rem;

      margin-bottom: 1rem;

      padding: 2.5rem;

      border-radius: 1.2rem;

      &:hover {
        background-color: variables.$light-green;

        transition: 0.5s;

        cursor: pointer;
      }

      &:last-child {
        margin-bottom: 0rem;
      }
    }

    .card img {
      margin: {
        right: 1.3rem;
        left: 1.3rem;
      }

      width: 2.4rem;
      height: 2.4rem;
    }

    .card p {
      font-size: 1.5rem;
      font-weight: 400;
    }
  }

  // Logout area styling
  .logout-container {
    background-color: variables.$light-green;

    width: 100%;
    height: 6rem;

    position: fixed;
    bottom: 0;
    width: 25rem;

    display: flex;
    align-items: center;

    img {
      width: 4.5rem;
      height: 4.5rem;

      border-radius: 1.2rem;

      margin: {
        left: 1.4rem;
      }
    }

    span {
      width: 9.8rem;

      margin-left: 0.9rem;
    }

    p {
      color: variables.$text-color;

      &:first-child {
        font-weight: 400;
        font-size: 1.5rem;
      }

      &:last-child {
        font-weight: 400;
        font-size: 1.2rem;

        margin-top: -0.4rem;
      }
    }

    #logout-image {
      width: 2.4rem;
      height: 2.4rem;

      cursor: pointer;

      margin: {
        left: 4.7rem;
      }
    }
  }
}

// Main content styling
.page-title {
  font-size: 2.5rem;
  font-weight: 500;

  color: variables.$text-color;

  margin: {
    top: 2.9rem;
    left: 1.8rem;
  }
}
